.contact-form1 {
  margin-top: 30px;
}

.contact-form1 .input-block {
  background-color: rgba(255, 255, 255, 0.8);
  /*border: solid 1px #FFF;*/
  width: 100%;
  height: 60px;
  padding: 25px;
  position: relative;
  margin-bottom: 20px;
  transition: all 0.3s ease-out;
}

.contact-form1 .input-block.focus {
  background-color: #fff;
  border: solid 1px darken(#ff512f, 10%);
}

.contact-form1 .input-block.textarea {
  height: auto;
}

.contact-form1 .input-block.textarea.form-control {
  height: auto;
  resize: none;
}

.contact-form1 .input-block label {
  position: absolute;
  left: 25px;
  top: 25px;
  display: block;
  margin: -11px;
  font-weight: 300;
  z-index: 1;
  color: #333;
  font-size: 18px;
  line-height: 10px;
}

.contact-form1 .input-block .form-control {
  background-color: transparent;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: auto;
  position: relative;
  z-index: 2;
  font-size: 18px;
  color: #333;
}

.contact-form1 .input-block .form-control:focus label {
  top: 0;
}

.contact-form1 .square-button {
  background-color: rgba(white, 0.8);
  color: darken(#ff512f, 10%);
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-radius: 2px;
  transition: all 0.3s ease;
  padding: 0 60px;
  height: 60px;
  border: none;
  width: 100%;
}

.contact-form1 .square-button:hover,
.contact-form1 .square-button:focus {
  background-color: #fff;
}

@media (min-width: 768px) {
  .contact-wrap1 {
    width: 100%;
    margin: auto;
    display: inline-block;
  }

  .contact-wrap1 form {
    width: 60%;
    display: inline-block;
    margin: 0 20%;
  }
}

body {
  /*font-family: 'Roboto', sans-serif;*/
}

.contact-wrap1 {
  padding: 15px;
  background-image: linear-gradient(to top right, #45bfc7 0%, #153d4a 100%);
}

h1 {
  background-color: white;
  color: lighten(#ff512f, 10%);
  padding: 40px;
  margin: 0 0 50px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

small {
  font-size: 18px;
  display: block;
  text-transform: none;
  font-weight: 300;
  margin-top: 10px;
  color: lighten(#ff512f, 10%);
}

.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}

.made-with-love i {
  font-style: normal;
  color: #f50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}

.made-with-love a {
  color: #fff;
  text-decoration: none;
}

.made-with-love a {
  text-decoration: underline;
}

section.solutions_banner.request_banner .banner_content {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

section.solutions_banner.request_banner .banner_content h2 {
  font-size: 55px;
}

section.solutions_banner.request_banner .banner_content h2:after {
  left: 50%;
  transform: translateX(-50%);
}

section.solutions_banner.request_banner .banner_content p {
  font-size: 24px;
}

.parallax {
  /* The image used */
  background-image: url("images/minimal_post.html");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .fname {
    padding-right: 4px !important;
  }

  .lname {
    padding-left: 4px !important;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 16px;
  }

  .subtitle {
    font-size: 9px !important;
  }
}

.contact-form .input-block {
  background-color: rgba(255, 255, 255, 0.8);
  /*border: solid 1px #FFF;*/
  width: 100%;
  height: 30px;
  padding: 18px;
  position: relative;
  margin-bottom: 10px;
  transition: all 0.3s ease-out;
  border-radius: 4px;
}

.contact-form .input-block.focus {
  background-color: #fff;
  border: solid 1px darken(#ff512f, 10%);
  /*margin-top: -10px;*/
}

.contact-form .input-block.textarea {
  height: auto;
  margin-top: -10px;
}

.contact-form .input-block.textarea.form-control {
  height: auto;
  resize: none;
  margin-top: -12px;
}

.contact-form .input-block label {
  position: absolute;
  left: 0px;
  top: 10px;
  display: block;
  margin: 0;
  font-weight: 300;
  z-index: 1;
  color: #333;
  font-size: 18px;
  line-height: 10px;
}

.contact-form .input-block .form-control {
  background-color: transparent;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: auto;
  position: relative;
  z-index: 2;
  font-size: 14px;
  color: #333;
  margin-top: -10px;
  margin-top: -12px;
}

.contact-form .input-block .form-control:focus label {
  margin-top: -20px;
}

.contact-form .square-button {
  background-color: rgba(white, 0.8);
  color: darken(#ff512f, 10%);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-radius: 2px;
  transition: all 0.3s ease;
  padding: 0 0px;
  height: 30px;
  border: none;
  width: 100%;
  /*border-radius: 24px;*/
}

.contact-form .square-button:hover,
.contact-form .square-button:focus {
  background-color: #fff;
  /*border-radius: 24px;*/
}

@media (min-width: 768px) {
  .contact-wrap {
    width: 100%;
    margin: auto;
    display: inline-block;
  }

  .contact-wrap form {
    width: 100%;
    display: inline-block;
  }
}

.contact-wrap {
  padding: 8px;
  background-image: linear-gradient(to top right, #45bfc7 0%, #153d4a 100%);
  /*border-radius: 0px 0px 10px 10px;*/
}

.modal section.solutions_banner.request_banner .banner_content {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.modal section.solutions_banner.request_banner .banner_content h2 {
  font-size: 55px;
}

.modal section.solutions_banner.request_banner .banner_content h2:after {
  left: 50%;
  transform: translateX(-50%);
}

.modal section.solutions_banner.request_banner .banner_content p {
  font-size: 11px;
}

.modal section.solutions_banner.request_banner {
  height: 130px !important;
  background-position-y: center;
  /*border-radius: 10px 10px 0px 0px;*/
}

.modal-dialog {
  position: relative;
  width: auto;
  /* margin: .5rem; */
  pointer-events: auto !important;
}

.modal .modal-body .close {
  padding: 0;
  color: #fff;
  z-index: 1;
  position: absolute;
  right: 10px;
  top: 3px;
  opacity: 0.65;
  font-weight: 100;
  font-size: 27px;
}

.modal .modal-body .close:hover {
  opacity: 1;
  color: #fff;
}

.modal h3.title {
  position: relative;
  padding-bottom: 10px;
}

.modal h3.title:after {
  position: absolute;
  content: "";
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  width: 30px;
  height: 3px;
}

.modal .modal-body .banner_content p {
  font-size: 13px;
}

.modal .modal-body section.solutions_banner.request_banner {
  border-radius: 5px 5px 0 0;
}

.floating_alert {
  position: fixed;
  top: 9%;
  z-index: 100;
  border-radius: 5px;
  width: 60%;
  right: 20%;
  text-align: center;
}

.close {
  padding: 5px;
  cursor: pointer;
  border: 1px solid green;
  border-radius: 4px;
}
